.row
	.span12
		h1 Score Keeping for #{link_to @game.name, game_path(@game)}
		

.row
	span12.scoreboard
		=image_tag("Scoreboard.png")
.row
	p.game-status = @game.status_tag
	.home-team
		h4.team-name = @game.home_team.name
	.home-team-score
		h1.score 0
	.away-team
		h4.team-name = @game.away_team.name
	.away-team-score
		h1.score 0	
.row
	button.btn.btn-large id="startBtn" onClick="do_start_game()" Start Game
	button.btn.btn-large id="strikeBtn" onClick="do_strike()" Strike
	button.btn.btn-large id="ballBtn" onClick="do_ball()" Ball
	a.circle id="home" data-placement="right" data-toggle="popover" data-title="Player0" data-html="true" data-content="<ul class='nav nav-tabs nav-stacked'><li><a onClick='do_single()'>Single</a></li><li><a onClick='do_double()'>Double</a></li><li><a onClick='do_triple()'>Triple</a></li><li><a href='#homerun'>Home Run</a></li><li><a href='#out'>Out</a></li><li><a href='#walk'>Walk</a></li></ul>" hidden="true"
		h4 0
	a.circle id="first" data-placement="right" data-toggle="popover" data-title="Player1"data-html="true" data-content="<ul class='nav nav-tabs nav-stacked'><li><a href='#steal'>Steal</a></li><li><a onClick='do_move(1)'>Move</a></li><li><a href='#out'>Out</a></li><li><a href='#score'>Score</a></li></ul>" hidden="true"
		h4 1
	a.circle id="second" data-placement="bottom" data-toggle="popover" data-title="Player2"data-html="true" data-content="<ul class='nav nav-tabs nav-stacked'><li><a href='#steal'>Steal</a></li><li><a onClick='do_move(2)'>Move</a></li><li><a href='#out'>Out</a></li><li><a href='#score'>Score</a></li></ul>" hidden="true"
		h4 2
	a.circle id="third" data-placement="left" data-toggle="popover" data-title="Player3"data-html="true" data-content="<ul class='nav nav-tabs nav-stacked'><li><a href='#steal'>Steal</a></li><li><a onClick='do_move(3)'>Move</a></li><li><a href='#out'>Out</a></li><li><a href='#score'>Score</a></li></ul>" hidden="true"
		h4 3

	.score-light id="ball1" hidden="true"
	.score-light id="ball2" hidden="true"
	.score-light id="ball3"	hidden="true"

	.score-light id="strike1" hidden="true"
	.score-light id="strike2" hidden="true"

	.score-light id="out1" hidden="true"
	.score-light id="out2" hidden="true"

	table id="innings-grid"
		tbody
			tr
				td id="innings-home-team" = @game.home_team.name[0..2]
				- (1..10).each do |i|
					td#innings-top data-number=i hidden="true" 0

			tr
				td id="innings-away-team" = @game.away_team.name[0..2]
				- (1..10).each do |i|
					td#innings-btm data-number=i hidden="true" 0

javascript:
	$('#home').popover();
	$('#first').popover();
	$('#second').popover();
	$('#third').popover();


