/*
 *= require_self
 *= require bootstrap-datepicker
 */

@import "bootstrap"

.small-header
	margin-top: -330px
	transition-duration: 1s

.large-header
	margin-top: 0px

.large-header.transition
	transition-duration: 1s

.login-bar
	height: 35px
	background-color: #e6e6e6
	padding-right: 20px
	padding-top: 15px

.login-bar ul.nav li 
	font-family: "InaiMathi", "Geneva"
	font-size: 20px
	font-variant: small-caps
	letter-spacing: 3px

.login-bar ul.nav li a
	color: #6b6b6b
	margin-right: 10px

.static-nav
	width: 215px
	float: left
	position: fixed
	top: 200px
	transition-duration: 1s

.static-nav.large-nav
	top: 550px
	transition-duration: 0s

.static-nav.large-nav.transition
	transition-duration: 1s

.main-article
	margin-top: 10px 
	width: 680px
	float: right
	margin-right: 20px
	clear: right

.accordion-group
	border: none
	font-family: "InaiMathi", "Geneva"
	font-variant: small-caps
	font-size: 24px
	letter-spacing: 3px
	color: #6b6b6b

.accordion-body.in
	margin-bottom: -10px

.accordion-group a
	color: #6b6b6b

.accordion-group ul li a
	font-size: 20px
	margin-left: 5px
	margin-bottom: 10px

h2
	font-family: "Letter Gothic Std", "InaiMathi", "Geneva"
	font-size: 48px
	font-variant: small-caps
	color: #688f1b
	font-weight: 200
	margin-top: 20px
	margin-left: -5px

p 
	font-size: 16px
	line-height: 25px






