.scoreboard
	height: 270px
	width: 890px
	
.scoreboard>img
	margin-top: -65px
	

.diamond
	background-image: image-url("baseballDiamond.png")
	width: 614px
	height: 637px
	margin-left: 140px
	margin-top: 50px

.home-team-score
	position: absolute
	left: 470px
	top: 383px


.home-team>h4
	height: 100px
	left: 298px

.team-name
	height: 100px
	left: 243px
	position: absolute
	text-align: center
	top: 350px
	width: 165px

.away-team-score
	position: absolute
	left: 829px
	top: 384px

.away-team>h4
	height: 100px
	left: 955px

.score
	font-size: 90px
	width: 117px
	height: 100px
	text-align: center

p.game-status
	position: absolute
	left: 673px
	top: 365px



